/* =========================
   FONTS
   ========================= */

@font-face {
    font-family: Inter;
    src: url('./fonts/inter.ttf');
}

/* =========================
   VARIABLES AND RESET
   ========================= */

:root {
    /* Primary colors */
    --color-primary-50: #DCEBFE;
    --color-primary-100: #C4DEFD;
    --color-primary-200: #A7CDFC;
    --color-primary-300: #8ABDFB;
    --color-primary-400: #6CACFA;
    --color-primary-500: #4F9CF9;
    --color-primary-600: #4282CF;
    --color-primary-700: #3568A6;
    --color-white: #FFFFFF;

    /* Button colors */
    --btn-yellow: #FFE492;
    --btn-yellow-hover: #E6CF83;

    --btn-color: #043873;
    --btn-color-hover: #032A5C;

    /* Border radius */
    --btn-border-radius: 8px;

    /* Project fonts */
    --font-default: Inter;

    /* Font sizes (HERO) */
    --font-size-medium: 1.125rem;
    --font-size-title-mobile: 2.25rem;
    --font-size-title-tablet: 3.375rem;
    --font-size-title-desktop: 4rem;

    /* Font sizes (FEATURES) */
    --m-features-title-font-size: 2.25rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, video, picture {
    display: block;
}

body {
    font-family: var(--font-default), Arial, Helvetica, sans-serif;
    background-color: var(--color-white);
}

button, .btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}


/* =========================
   UTILITIES
   ========================= */

.w-100 {
    width: 100%;
}

/* =========================
   HEADER
   ========================= */

.site-header {
    height: 56px;
}

.site-header .container {
    max-width: 100%;
    min-width: 320px;
    padding: 16px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    cursor: pointer;
    height: 24px;
    width: auto;
    object-fit: cover;
}

.header-actions {
    display: flex;
    gap: 20px;
}

.hamburger-menu {
    cursor: pointer;
    color: var(--color-primary-500);
    font-size: 2rem;
}

.header-buttons {
    display: none;
}

.header-buttons .btn {
    border-radius: var(--btn-border-radius);
    padding: 18px 40px;
    font-size: var(--font-size-medium);
    transition: background-color 0.3s ease-in-out;
}

.header-buttons .btn-login {
    background-color: var(--btn-yellow);
    font-size: var(--font-size-medium);
    color: var(--btn-color);
}

.header-buttons .btn-login:hover {
    background-color: var(--btn-yellow-hover);
}

.header-buttons .btn-trial {
    background-color: var(--color-primary-500);
    color: var(--color-white);
    position: relative;
    padding-right: 44px;
}

.header-buttons .btn-trial i {
    position: absolute;
    right: 15px;
}

.header-buttons .btn-trial:hover {
    background-color: var(--btn-color-hover);
}

/* =========================
   HERO
   ========================= */

.hero .container {
    padding: 80px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.hero-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-title {
    color: var(--color-primary-500);
    font-size: var(--font-size-title-mobile);
}

.hero-subtitle {
    color: var(--color-primary-500);
    font-size: var(--font-size-medium);
    line-height: 1.9;
}

.btn-hero-cta {
    padding: 20px 40px;
    background-color: var(--color-primary-500);
    border-radius: var(--btn-border-radius);
    color: var(--color-white);
    font-size: var(--font-size-medium);
    width: 232px;
    height: 70px;
    text-align: center;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.btn-hero-cta i {
    position: absolute;
    right: 15px;
}

.btn-hero-cta:hover {
    background-color: var(--btn-color-hover);
}

.hero-image {
    min-width: 286px;
    height: 191px;
    background-color: var(--color-primary-100);
}

/* =========================
   FEATURES
   ========================= */

.features {
    margin-bottom: 100px;
}

.features .container {
    padding: 80px 18px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.feautres-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.features-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.features-title {
    font-size: var(--m-features-title-font-size);
    text-align: center;
}

.features-para {
    font-size: var(--font-size-medium);
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
}

.btn-features-cta {
    width: 200px;
    height: 70px;
    padding: 20px 40px;
    background-color: var(--color-primary-500);
    border-radius: var(--btn-border-radius);
    font-size: var(--font-default);
    color: var(--color-white);
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.btn-features-cta:hover {
    background-color: var(--btn-color-hover);
}

.features-image {
    min-width: 286px;
    height: 177px;
    background-color: var(--color-primary-100);
}

/* =========================
   RESPONSIVE
   ========================= */

@media (min-width: 768px) {
    /* TABLETS */

    /* --- HEADER --- */
    .site-header {
        height: 66px;
    }

    .site-header .container {
        padding: 16px 32px;
    }

    .header-logo img {
        height: 34px;
    }

    .hamburger-menu {
        font-size: 2.5rem;
    }

    /* --- HERO --- */
    .hero .container {
        padding: 140px 20px 100px;
    }

    .hero-title {
        font-size: var(--font-size-title-tablet);
    }

    .hero-image {
        width: 551px;
        height: 367px;
    }

}

@media (min-width: 1152px) {
    /* Desktop */

     /* --- HEADER --- */
    .site-header .container {
        padding: 30px 32px;
    }

    .header-buttons {
        height: 60px;
        display: flex;
        gap: 24px;
        align-items: center;
    }

    /* --- HERO --- */
    .hero .container {
        flex-direction: row;
        padding: 140px 32px;
        gap: 0;
    }

    .hero-content {
        max-width: 562px;
        align-items: flex-start;
    }

    .hero-title {
        font-size: var(--font-size-title-desktop);
        text-align: left;
    }

    .hero-subtitle {
        text-align: left;
    }

    .btn-hero {
        width: 219px;
        height: 63px;
    }
}