/* =========================
   FONTS
   ========================= */

@font-face {
    font-family: Inter;
    src: url('./fonts/inter.ttf');
}

/* =========================
   VARIABLES AND RESET
   ========================= */

:root {
    /* Primary colors */
    --color-primary-50: #DCEBFE;
    --color-primary-100: #C4DEFD;
    --color-primary-200: #A7CDFC;
    --color-primary-300: #8ABDFB;
    --color-primary-400: #6CACFA;
    --color-primary-500: #4F9CF9;
    --color-primary-600: #4282CF;
    --color-primary-700: #3568A6;
    --color-white: #FFFFFF;

    /* Button colors */
    --btn-yellow: #FFE492;
    --btn-yellow-hover: #E6CF83;

    --btn-color: #043873;
    --btn-color-hover: #032A5C;

    /* Border radius */
    --btn-border-radius: 8px;

    /* Project fonts */
    --font-default: Inter;
    --font-weight-para: 300;
    --font-line-height-para: 1.5;

    /* Font sizes (HERO) */
    --font-size-medium: 1.125rem;
    --font-size-title-mobile: 2.25rem;
    --font-size-title-tablet: 3.375rem;
    --font-size-title-desktop: 4rem;

    /* Font sizes (FEATURES) */
    --m-features-title-font-size: 2.25rem;
    --t-features-title-font-size: 3.375rem;
    --d-features-title-font-size: 4rem;

    /* Pricing font sizes */
    --text-block-title: 1.5rem;
    --text-block-color: #043873;;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, video, picture {
    display: block;
}

body {
    font-family: var(--font-default), Arial, Helvetica, sans-serif;
    background-color: var(--color-white);
    overflow-x: hidden;
}

button, .btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}


/* =========================
   UTILITIES
   ========================= */


/* Body buttons (for CTA's) */
.btn-body-cta {
    width: 200px;
    height: 70px;
    padding: 20px 40px;
    background-color: var(--color-primary-500);
    border-radius: var(--btn-border-radius);
    font-size: var(--font-default);
    color: var(--color-white);
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.btn-body-cta:hover {
    background-color: var(--btn-color-hover);

}

/* =========================
   SECTION INFORMATION
   ========================= */

.section-title {
    font-size: var(--m-features-title-font-size);
    text-align: center;
    position: relative;
}

.section-para {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-para);
    text-align: center;
    line-height: var(--font-line-height-para);
}

.section-padding {
    padding: 80px 16px;
}

.image-wrapper {
    min-width: 286px;
    height: 177px;
    background-color: var(--color-primary-100);
}

.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.info-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

/* =========================
   HEADER
   ========================= */

.site-header {
    height: 56px;
}

.site-header .container {
    max-width: 100%;
    min-width: 320px;
    padding: 16px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    cursor: pointer;
    height: 24px;
    width: auto;
    object-fit: cover;
}

.header-actions {
    display: flex;
    gap: 20px;
}

.hamburger-menu {
    cursor: pointer;
    color: var(--color-primary-500);
    font-size: 2rem;
}

.header-buttons {
    display: none;
}

.header-buttons .btn {
    border-radius: var(--btn-border-radius);
    padding: 18px 40px;
    font-size: var(--font-size-medium);
    transition: background-color 0.3s ease-in-out;
}

.header-buttons .btn-login {
    background-color: var(--btn-yellow);
    font-size: var(--font-size-medium);
    color: var(--btn-color);
}

.header-buttons .btn-login:hover {
    background-color: var(--btn-yellow-hover);
}

.header-buttons .btn-trial {
    background-color: var(--color-primary-500);
    color: var(--color-white);
    position: relative;
    padding-right: 44px;
}

.header-buttons .btn-trial i {
    position: absolute;
    right: 15px;
}

.header-buttons .btn-trial:hover {
    background-color: var(--btn-color-hover);
}

/* =========================
   HERO
   ========================= */

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.hero-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-title {
    color: var(--color-primary-500);
    font-size: var(--font-size-title-mobile);
}

.hero-subtitle {
    color: var(--color-primary-500);
    font-size: var(--font-size-medium);
    line-height: 1.9;
}

.btn-hero-cta {
    padding: 20px 40px;
    background-color: var(--color-primary-500);
    border-radius: var(--btn-border-radius);
    color: var(--color-white);
    font-size: var(--font-size-medium);
    width: 232px;
    height: 70px;
    text-align: center;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.btn-hero-cta i {
    position: absolute;
    right: 15px;
}

.btn-hero-cta:hover {
    background-color: var(--btn-color-hover);
}

/* =========================
   FEATURES
   ========================= */

.features {
    margin-bottom: 100px;
    position: relative;
}

.features .decorative-footprint {
    height: 209px;
    position: absolute;
    top: 40px;
    left: 0;
}

.features .container {
    padding: 80px 18px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.feautres-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.title-highlight {
    position: absolute;
    z-index: -1;
    bottom: -12px;
    left: 20px;
}

/* =========================
   COLLABORATION
   ========================= */

.collaboration .container {
    padding: 0 16px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.collab-title-highlight {
    position: absolute;
    z-index: -1;
    bottom: -10px;
    left: 20px;
}

.widget-work-together {
    display: block;
    height: 260px;
    object-fit: cover;
}

/* =========================
   PRICING
   ========================= */

.pricing .container {
    padding: 80px 16px;
    gap: 60px;
}

.pricing-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-board {
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 60px;
}

.price-board.regular-plan {
    display: none;
    border: 1px solid #FFE492;
    padding: 40px 44px;
}

.text-block {
    color: #212529;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.price-board.personal .text-block {
    color: var(--text-block-color);
}

.pricing .text-block__title {
    font-size: var(--text-block-title);
}

.pricing .text-block__price {
    font-size: 3rem;
}

.pricing .text-block__para {
    font-size: 1rem;
}

.bullet-points {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.bullet-points--point {
    color: var(--text-block-color);
    font-size: 1rem;
    display: flex;
    gap: 19px;
}

.price-board.personal .bullet-points--point {
    color: var(--text-block-color);
}

.btn-pricing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-board.regular-plan .btn-pricing {
    border: 2px solid #FFE492;
    background: none;
    color: #212529;
}

.price-board.regular-plan .btn-pricing:hover {
    background-color: #FFE492;
}

.pricing-slider {
    width: 100px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-dot {
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-color: var(--color-primary-500);
    border-radius: 50%;
}

.slider-dot.focus {
    background-color: var(--text-block-color);
}

/* =========================
   RESPONSIVE
   ========================= */

@media (min-width: 768px) {
    /* TABLETS */

    /* --- UTILITIES --- */
    .section-title {
        font-size: var(--font-size-title-tablet);
    }

    .section-para {
        max-width: 728px;
    }

    .image-wrapper {
        width: 551px;
        height: 367px;
    }

    /* --- HEADER --- */
    .site-header {
        height: 66px;
    }

    .site-header .container {
        padding: 16px 32px;
    }

    .header-logo img {
        height: 34px;
    }

    .hamburger-menu {
        font-size: 2.5rem;
    }

    /* --- HERO --- */
    .hero .container {
        padding: 140px 20px 100px;
    }

    .hero-title {
        font-size: var(--font-size-title-tablet);
    }

    /* --- FEATURES --- */
    .features .decorative-footprint {
        height: 270px;
        top: 30px;
    }

    .features .container {
        padding: 100px 20px 0;
    }

    .title-highlight {
        left: 200px;
        bottom: -10px;
    }

    /* --- COLLABORATION --- */
    .collaboration .container {
        padding: 0 20px 100px;
    }

    .widget-work-together {
        height: 420px;
    }

    /* --- CUSTOMIZATION --- */
    .customization .container {
        padding: 100px 32px;
    }

    /* --- PRICING ---- */
    .pricing .container {
        padding: 140px 20px;
    }

    .pricing-list {
        position: relative;
        align-items: center;
    }

    .price-board {
        padding: 80px 44px;
        max-width: 470px;
        margin-bottom: 0;
    }

    .price-board.regular-plan {
        display: revert;
        position: absolute;
        padding: 40px 44px 40px;
    }

    .price-board.free {
        left: -350px;
    }

    .price-board.organization {
        right: -350px;
    }

    .pricing .text-block__title {
        font-weight: 500;
    }

    .pricing .text-block__price {
        font-weight: 400;
    }

    .pricing-slider {
        display: none;
    }
    

}

@media (min-width: 1152px) {
    /* Desktop */

    /* --- UTILITIES --- */
    .section-title,
    .section-para {
        text-align: left;
    }

    .section-title {
        font-size: var(--font-size-title-desktop);
    }

    .image-wrapper {
        width: 560px;
        height: 384px;
    }

     /* --- HEADER --- */
    .site-header .container {
        padding: 30px 32px;
    }

    .header-buttons {
        height: 60px;
        display: flex;
        gap: 24px;
        align-items: center;
    }

    /* --- HERO --- */
    .hero .container {
        padding: 140px 32px 0;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .hero-content {
        max-width: 562px;
        align-items: flex-start;
    }

    .hero-title {
        font-size: var(--font-size-title-desktop);
        text-align: left;
    }

    .hero-subtitle {
        text-align: left;
    }

    .btn-hero {
        width: 219px;
        height: 63px;
    }

    /* --- FEATURES --- */

    .features .decorative-footprint {
        height: auto;
        top: 62px;
        left: -20px;
    }

    .features .container {
        padding: 140px 32px 0;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .feautres-content {
        align-items: flex-start;
    }

    .features-info {
        align-items: flex-start;
    }

    .features-para {
        max-width: 436px;
    }

    /* --- COLLABORATION --- */
    .collaboration .container {
        padding: 0 32px 140px;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
    }

    .collaboration-content {
        align-items: flex-start;
        order: 1;
    }

    .collaboration-info {
        align-items: flex-start;
    }

    .collaboration-para {
        max-width: 520px;
    }

    .widget-work-together {
        height: 490px;
    }

    /* --- CUSTOMIZATION --- */
    .customization .container {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .customization-content {
        align-items: flex-start;
    }

    .customization-info {
        align-items: flex-start;
    }

    /* --- PRICING --- */
    .pricing .container {
        padding-bottom: 140px;
    }

    .price-board {
        max-width: 340px;
        margin-bottom: 0;
    }

    .price-board.personal {
        padding: 80px 44px;
    }

    .price-board.regular-plan {
        position: static;
        display: flex;
    }

    .pricing-list {
        flex-direction: row;
        justify-content: center;
        gap: 24px;
        align-items: center;
    }

    .pricing-slider {
        display: none;
    }
}